$primary-color:linear-gradient(
    90deg,
    rgba(6, 91, 146, 1) 0%,
    rgba(41, 191, 117, 1) 100%
  );
$white: #ffffff;
$main-background-color: linear-gradient(
    90deg,
    rgba(6, 91, 146, 1) 0%,
    rgba(41, 191, 117, 1) 100%
  );
